.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    padding: 10px 30px;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 2px solid rgb(210, 13, 13);
}

.label{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 28px;
    color: rgb(45, 46, 48);
}

.input{
    height: 30px;
    padding: 2px 10px;
    color: rgb(15, 15, 15);
}

.button{
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(203, 203, 219);
    background-color: rgb(73, 48, 183);
    cursor: pointer;
}

.button:active{
    background-color: rgb(193, 221, 221);
    color: rgb(72, 72, 207);
}
