body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.phonebook-wrapper{
 margin: 10px auto;
 width: 600px;
 border: 1px solid gray;
 padding: 10px 20px;
 background-color: bisque;
}

.no-contacts{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}